@font-face {
    font-family: "DejaVuSansMono";
    src: url("../../font/dejavu/DejaVuSansMono.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "DejaVuSansMonoBold";
    src: url("../../font/dejavu/DejaVuSansMonoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "DejaVuSansMonoItalic";
    src: url("../../font/dejavu/DejaVuSansMonoItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "DejaVuSansMonoBoldItalic";
    src: url("../../font/dejavu/DejaVuSansMonoBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}