/*
 * КАРКАС СТРАНИЦЫ
 * ШАПКА САЙТА
 * ГЛАВНОЕ МЕНЮ
 * ЦЕНТРАЛЬНАЯ КОЛОНКА
 * - РАЗНЫЕ СТИЛИ
 * - КАТАЛОГ ТОВАРОВ
 * ЛЕВАЯ И ПРАВАЯ КОЛОНКА
 * - ЛЕВАЯ КОЛОНКА
 * - ПРАВАЯ КОЛОНКА
 * ПОДВАЛ САЙТА
 * MEDIA-ЗАПРОСЫ
 */

html {
    position:relative;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font: 14px Arial, sans-serif;
    color: #323232;
    overflow-y: scroll;
    height: 100%;
}

a {
    color: #5390cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*
 * КАРКАС СТРАНИЦЫ
 */
.wrapper {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 5px;
    box-sizing: border-box;
}
body > .wrapper {
    overflow: hidden;
    padding-bottom: 40px;
}
/* шапка */
#header {
    height: 80px;
    background: #395985;
}
/* главное меню */
#main-menu {
    background: #323232;
}
#wrap {
    width: 100%;
    float: left;
}
/* центральная колонка */
#content {
    margin: 0 250px 0 250px;
    padding: 20px;
}
/* левая колонка */
#left {
    width: 250px;
    float: left;
    margin-left: -100%;
}
/* правая колонка */
#right {
    width: 250px;
    float: left;
    margin-left: -250px;
}
/* подвал */
#footer {
    width: 100%;
    height: 40px;
    background: #2f3133;
    position: absolute;
    bottom: 0;
}

/*
 * ШАПКА САЙТА
 */
#header {
    color: #5390cc;
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
    text-shadow: 1px 1px 1px #ccc;
}

/*
 * ГЛАВНОЕ МЕНЮ
 */
#menu {

}
    #menu ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        background: #323232;
    }
        #menu > ul > li {
            float: left;
        }
        #menu > ul > li > ul {
            top: 100%;
            left: 0;
        }
    #menu li {
        position: relative;
    }
    #menu a {
        display: block;
        white-space: nowrap;
    }
            #menu ul li li ul {
                top: 0;
                left: 100%;
            }
        #menu ul ul {
            visibility: hidden;
            position: absolute;
            z-index: 2;
            min-width: 240px;
        }
        #menu li:hover > ul {
            visibility: visible;
        }
    #menu:after {
        content: "";
        clear: both;
        display: block;
    }
    #menu a {
        text-decoration: none;
        color: #fff;
        text-shadow: 1px 1px 1px #ccc;
        padding: 8px 25px;
        font-size: 18px;
    }
    #menu a:hover {
        background: #5390cc;
    }
        #menu > ul > li > a {
            border-right: 1px solid #4f5254;
        }
        #menu > ul > li:first-child > a {
            border-left: 1px solid #4f5254;
        }
        #menu > ul > li > ul > li > a, #menu > ul > li > ul > li > ul > li > a {
            border-top: 1px solid #4f5254;
            padding: 7px 10px;
        }
/* анимация меню */
/*
#menu > ul > li > ul,
#menu ul li li ul {
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
#menu > ul > li > ul {
    top: 200%;
    opacity: 0;
}
#menu > ul > li:hover > ul {
    top: 100%;
    opacity: 1;
}
#menu ul li ul li ul {
    left: 200%;
    opacity: 0;
}
#menu ul li ul li:hover ul {
    left: 100%;
    opacity: 1;
}
*/

/*
 * ЦЕНТРАЛЬНАЯ КОЛОНКА
 */

#content h1, #content h2, #content h3, #content h4 {
    margin: 15px 0;
    color: #5390cc;
    font-weight: normal;
    text-shadow: 1px 1px 1px #ccc;
}
#content h1 {
    font-size: 24px;
}
#content h2 {
    font-size: 20px;
}
#content h3 {
    font-size: 16px;
}
#content h4 {
    font-size: 14px;
}
#content p {
    margin: 15px 0;
}
#content ul, #content ol {
    margin: 15px 0 15px 20px;
}
    #content ul > li > ul, #content ol > li > ol, #content ol > li > ul, #content ul > li > ol {
        margin: 5px 0 5px 20px;
    }
#content img {
    max-width: 100%;
}
#content strong {
    color: #000000;
    font-weight: normal;
    text-shadow: 1px 1px 1px #ccc;
}

#content .note {
    font-size: 12px;
    margin: 15px 0 15px 30px;
    padding-left: 10px;
    border-left: 5px solid #5390cc;
}


/*
 * РАЗНЫЕ СТИЛИ, ИСПОЛЬЗУЮТСЯ ВЕЗДЕ
 */

code {
    color: #0000ff;
}
pre {
    background: #f5f5f5;
    border: 1px solid #eee;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    margin: 15px 0;
}

/* универсальная таблица */
.data-table {
    border-collapse: collapse;
    width: 100%;
}
    .data-table td, .data-table th {
        padding: 5px;
        vertical-align:top;
        border: 1px solid #d1d1d1;
        color: #323232;
    }
    .data-table th {
        background-color: #f0f0f0;
        font-weight: normal;
        text-align: left;
    }

/* блок «ВАЖНО» */
div.notice {
    margin: 15px 0;
    padding: 1px 0 1px 15px;
    border-left: 4px solid #e9751f;
}
    div.notice :first-child {
        margin-top: 0 !important;
    }
    div.notice :last-child {
        margin-bottom: 0 !important;
    }

/* блок «ВНИМАНИЕ» */
div.attention {
    margin: 15px 0;
}
    div.attention > div:first-child {
        color: #e9751f;
        text-transform: uppercase
    }
    div.attention > div:last-child {
        position:relative;
        border: 1px solid #e9751f;
        border-radius: 5px;
        padding: 10px;
        margin: 12px 0 15px 0;
    }
    div.attention > div:last-child::before {
        position: absolute;
        top: -20px;
        left: 30px;
        content: '';
        border: 10px solid transparent;
        border-bottom: 10px solid #e9751f;
    }
    div.attention > div:last-child::after {
        position: absolute;
        top: -19px;
        left: 30px;
        content: '';
        border: 10px solid transparent;
        border-bottom: 10px solid #fff;
    }
        div.attention > div:last-child p {
            margin: 5px 0;
        }
        div.attention > div:last-child ul {
            margin: 5px 0 5px 20px;
        }
        div.attention > div:last-child :first-child {
            margin-top: 0 !important;
        }
        div.attention > div:last-child :last-child {
            margin-bottom: 0 !important;
        }

/* хлебные крошки */
#breadcrumbs {
    border: 1px solid #d1d1d1;
    border-top: 5px solid #395985;
    overflow: hidden;
    padding: 15px;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
}
    #breadcrumbs > div {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px dashed #d1d1d1;
    }
    #breadcrumbs a {
        font-size: 13px;
    }

/* сообщение об ошибке */
.error-message {
    border: 1px solid #e9751f;
    border-top: 5px solid #e9751f;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 20px;
}
    .error-message > ul {
        margin-left: 20px;
        color: #e9751f;
    }

/* постраничная навигация */
.pager {
    overflow: hidden;
    margin-top: 20px;
}
    .pager li {
        list-style: none;
        float: left;
        margin-right: 15px;
    }
    .pager li:last-child {
        margin-right: 0;
    }
        .pager li a {
            display: block;
            width: 26px;
            height: 26px;
            text-align: center;
            background: #395985;
            font-size: 14px;
            line-height: 26px;
            color: #fff;
            text-decoration: none;
        }
        .pager li a.next-page {
             background: #395985 url(../img/next-page.png) center center no-repeat;
        }
        .pager li a.prev-page {
            background: #395985 url(../img/prev-page.png) center center no-repeat;
        }
        .pager li a.first-page {
            background: #395985 url(../img/first-page.png) center center no-repeat;
        }
        .pager li a.last-page {
            background: #395985 url(../img/last-page.png) center center no-repeat;
        }
        .pager li span {
            display: block;
            width: 26px;
            height: 26px;
            text-align: center;
            background: #e9751f;
            font-size: 14px;
            line-height: 26px;
            color: #fff;
        }

/*
 * ЛЕВАЯ И ПРАВАЯ КОЛОНКА
 */
#left *, #right * {
    font-size: 13px;
}
    /* информационные блоки в левой и правой колонке */
    #left > div, #right > div {
        margin: 20px 0;
        border: 1px solid #d1d1d1;
        border-top: 5px solid #395985;
        overflow: hidden;
    }
        #left > div > div:first-child, #right > div > div:first-child {
            padding: 15px;
            font-size: 16px;
            line-height: 16px;
            background: #f0f0f0;
        }
        #left > div > div:last-child, #right > div > div:last-child {
            border-top: 1px solid #d1d1d1;
            padding: 15px;
        }
            #left > div > div:last-child ul, #right > div > div:last-child ul {
                list-style: none;
            }
                #left > div > div:last-child > ul > li, #right > div > div:last-child > ul > li {
                    margin-bottom: 7px;
                }
                #left > div > div:last-child > ul > li:last-child, #right > div > div:last-child > ul > li:last-child {
                    margin-bottom: 0;
                }
                #left > div > div:last-child > ul > li > a, #right > div > div:last-child > ul > li > a {
                    font-size: 16px;
                }
                #left > div > div:last-child > ul ul, #right > div > div:last-child > ul ul {
                    padding-left: 15px;
                }

/*
 * ЛЕВАЯ КОЛОНКА
 */
#left {
    display: none;
}
#content {
    margin-left: 0;
    padding-left: 0;
}

/*
 * ПРАВАЯ КОЛОНКА
 */


/*
 * ПОДВАЛ САЙТА
 */
#footer {
    color: #5390cc;
    line-height: 40px;
}

/*
 * MEDIA-ЗАПРОСЫ
 */
